Repository JupiterOne/graph-airwatch: changes, and which lint-staged commands are due for each by the changed paths.
All: remark ., prettier --write, eslint

.lintstagedrc:

{
  "*.md": [
    "remark .",
    "prettier --write",
  ],
  "*.ts": [
    "eslint",
    "prettier --write",
  ],
  "*.{js,json}": [
    "prettier --write",
  ]
}

Add security details
  jest.config.js
  src/client/index.ts
  src/steps/__recordings__/steps_741716276/recording.har
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.ts
  src/steps/devices.ts
Due: prettier --write, eslint

v0.5.4
  package.json
Due: prettier --write

Use Node 14
  .github/workflows/build.yml
Due: none

Corrected tests
  .github/workflows/build.yml
  src/steps/index.test.ts
Due: prettier --write, eslint

v0.5.5
  package.json
Due: prettier --write

v0.5.6
  package.json
Due: prettier --write

Change endpoint
  src/client/index.ts
Due: prettier --write, eslint

v0.5.7
  package.json
Due: prettier --write

Added changelog
  CHANGELOG.md
Due: remark ., prettier --write

v0.5.8
  package.json
Due: prettier --write

Changed from uuid to serialnumber, updated changelog
  CHANGELOG.md
  src/client/index.ts
  src/steps/devices.ts
Due: remark ., prettier --write, eslint

v0.5.9
  package.json
Due: prettier --write

Added profiles and relationships to devices
  docs/jupiterone.md
  src/client/index.ts
  src/client/types.ts
  src/steps/constants.ts
  src/steps/converters.ts
  src/steps/index.ts
  src/steps/profiles.ts
Due: remark ., prettier --write, eslint

Updated changelog
  CHANGELOG.md
Due: remark ., prettier --write

v0.6.0
  package.json
Due: prettier --write

Corrected behaviour
  src/client/index.ts
  src/steps/converters.ts
Due: prettier --write, eslint

Corrected typo
  src/client/index.ts
Due: prettier --write, eslint

Corrected another typo
  src/steps/converters.ts
Due: prettier --write, eslint

v0.6.1
  package.json
Due: prettier --write

Some fixes for profiles
  .github/workflows/build.yml
  docs/jupiterone.md
  package.json
  src/steps/profiles.ts
  yarn.lock
Due: remark ., prettier --write, eslint

Changes for node 18
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.ts
Due: prettier --write, eslint

corrected core version
  package.json
Due: prettier --write

Tsconfig update
  tsconfig.json
Due: prettier --write

Corrected toString()
  src/steps/converters.ts
Due: prettier --write, eslint

v0.6.2
  package.json
Due: prettier --write

Corrected some issues
  src/steps/profiles.ts
Due: prettier --write, eslint

v0.6.3
  package.json
Due: prettier --write

Changed logs to get more information
  src/steps/profiles.ts
Due: prettier --write, eslint

v0.6.4
  package.json
Due: prettier --write

Added a condition to retrieve uuid
  src/client/index.ts
  src/client/types.ts
  src/steps/profiles.ts
Due: prettier --write, eslint

Corected parameter - adding logs
  src/steps/profiles.ts
Due: prettier --write, eslint

v0.6.5
  package.json
Due: prettier --write

Merge
  docs/jupiterone.md
  src/client/index.ts
  src/client/types.ts
  src/steps/constants.ts
  src/steps/profiles.ts
Due: remark ., prettier --write, eslint

v0.6.6
  package.json
Due: prettier --write

Added pagination
  src/client/index.ts
  src/steps/profiles.ts
Due: prettier --write, eslint

Corrected page number
  src/client/index.ts
Due: prettier --write, eslint

v0.6.7
  package.json
Due: prettier --write

Apply remove-codeql with multi-gitter [ci skip]
  .github/workflows/codeql-analysis.yml
Due: none

APP-15542 - Bump sdk packages
  husky.config.js
  package.json
  yarn.lock
Due: prettier --write
