Repository JupiterOne/graph-airwatch: changes, and which lint-staged commands are due for each by the changed paths.
All: remark ., prettier --write, eslint

Make basic request with authentication
  .gitignore
  docker-compose.yml
  package.json
  src/ProviderClient.ts
  src/executionHandler.ts
  src/index.ts
  src/initializeContext.ts
  src/invocationValidator.ts
  src/types.ts
  tools/execute.ts
  yarn.lock
Due: prettier --write, eslint

Refactor ProviderClient
  src/airwatch/AirwatchClient.ts
  src/airwatch/types.ts
  src/converters.test.ts
  src/converters.ts
  src/executionHandler.ts
  src/initializeContext.test.ts
  src/initializeContext.ts
  src/invocationValidator.test.ts
  src/invocationValidator.ts
  src/types.ts
Due: prettier --write, eslint

Changes based on PR comments
  src/airwatch/AirwatchClient.ts
  src/converters.ts
Due: prettier --write, eslint

Enable Travis
  .travis.yml
  README.md
  package.json
Due: remark ., prettier --write

Fix tests and coverage requirements
  jest.config.js
  package.json
  src/converters.test.ts
  src/jupiterone/entities/OrganizationGroupEntity.ts
  src/utils.ts
  yarn.lock
Due: prettier --write, eslint

Remove unnecessary types package
  package.json
  yarn.lock
Due: prettier --write

Rename types
  docs/jupiterone-io/index.md
  src/converters.test.ts
  src/converters/relationships/DeviceUserRelationship.ts
  src/converters/relationships/OrganizationGroupRelationship.ts
  src/executionHandler.test.ts
  src/executionHandler.ts
  src/jupiterone/entities/DeviceEntity.ts
  src/jupiterone/entities/OrganizationGroupEntity.ts
  src/jupiterone/entities/UserEntity.ts
  src/jupiterone/relationships/AccountOrganizationGroupRelationship.ts
  src/jupiterone/relationships/DeviceUserRelationship.ts
  src/jupiterone/relationships/UserDeviceRelationship.ts
Due: remark ., prettier --write, eslint

Use relationship class in generated key
  src/converters.test.ts
  src/converters/relationships/AccountRelationship.ts
Due: prettier --write, eslint

Fix function call
  src/executionHandler.ts
Due: prettier --write, eslint

Refactor to simplify and clarify
  src/airwatch/AirwatchClient.ts
  src/airwatch/types.ts
  src/converters.test.ts
  src/converters/entities/AccountEntityConverter.test.ts
  src/converters/entities/AccountEntityConverter.ts
  src/converters/entities/AdminEntityConverter.test.ts
  src/converters/entities/AdminEntityConverter.ts
  src/converters/entities/DeviceEntityConverter.test.ts
  src/converters/entities/DeviceEntityConverter.ts
  src/converters/entities/OrganizationGroupEntityConverter.test.ts
  src/converters/entities/OrganizationGroupEntityConverter.ts
  src/converters/entities/UserEntityConverter.test.ts
  src/converters/entities/UserEntityConverter.ts
  src/converters/index.ts
  src/converters/relationships/AccountRelationship.ts
  src/converters/relationships/AdminRelationship.ts
  src/converters/relationships/DeviceUserRelationship.ts
  src/converters/relationships/OrganizationGroupRelationship.ts
  src/executionHandler.test.ts
  src/executionHandler.ts
  src/jupiterone/converters.ts
  src/jupiterone/entities/AccountEntity.ts
  src/jupiterone/entities/AdminEntity.ts
  src/jupiterone/entities/DeviceEntity.ts
  src/jupiterone/entities/OrganizationGroupEntity.ts
  src/jupiterone/entities/UserEntity.ts
  src/jupiterone/graph.ts
  src/jupiterone/index.ts
  src/jupiterone/relationships/AccountDeviceRelationship.ts
  src/jupiterone/relationships/AccountOrganizationGroupRelationship.ts
  src/jupiterone/relationships/DeviceUserRelationship.ts
  src/jupiterone/relationships/OrganizationGroupAdminRelationship.ts
Due: prettier --write, eslint

Move to released SDK
  package.json
  yarn.lock
Due: prettier --write

Upgrade some packages
  package.json
  yarn.lock
Due: prettier --write

Remove unknown file
  jest.config.js
Due: prettier --write

Add some required properties
  src/airwatch/types.ts
  src/converters.test.ts
  src/jupiterone/converters.ts
Due: prettier --write, eslint

v0.2.0
  package.json
Due: prettier --write

Migrate to open source data model
  package.json
  src/executionHandler.ts
  src/jupiterone/converters.ts
  src/jupiterone/graph.ts
  yarn.lock
Due: prettier --write, eslint

Build group relationships
  src/airwatch/AirwatchClient.ts
  src/airwatch/types.ts
  src/executionHandler.test.ts
  src/executionHandler.ts
  src/jupiterone/graph.ts
Due: prettier --write, eslint

v0.2.1
  package.json
Due: prettier --write

Update integration sdk
  package.json
  yarn.lock
Due: prettier --write

v0.2.2
  package.json
Due: prettier --write

Convert device ComplianceStatus to percentage
  src/client/types.ts
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.test.ts
  src/steps/converters.ts
Due: prettier --write, eslint

Better pagination, error reporting
  package.json
  src/client/index.ts
  src/client/types.ts
  src/steps/__recordings__/steps_741716276/recording.har
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/index.test.ts
  yarn.lock
Due: prettier --write, eslint

Fix complianceStatus value for data-model
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.test.ts
  src/steps/converters.ts
Due: prettier --write, eslint

Fix platform for Android
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.test.ts
  src/steps/converters.ts
Due: prettier --write, eslint

Validate entities in converter tests
  jest.config.js
Due: prettier --write

Fix converters to for schema validation
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.test.ts
  src/steps/converters.ts
Due: prettier --write, eslint

Update CHANGELOG
  CHANGELOG.md
Due: remark ., prettier --write

Add development account setup instructions
  docs/development.md
Due: remark ., prettier --write

Update overview doc
  docs/jupiterone.md
Due: remark ., prettier --write

v0.3.0
  CHANGELOG.md
  package.json
Due: remark ., prettier --write

Fix error when no device user
  CHANGELOG.md
  src/client/types.ts
  src/steps/devices.ts
Due: remark ., prettier --write, eslint

v0.3.1
  CHANGELOG.md
  package.json
Due: remark ., prettier --write

Handle duplicate Device._key, add logging
  CHANGELOG.md
  src/steps/devices.ts
Due: remark ., prettier --write, eslint

v0.3.2
  CHANGELOG.md
  package.json
Due: remark ., prettier --write

Link to existing device user entity
  CHANGELOG.md
  src/steps/devices.ts
Due: remark ., prettier --write, eslint

v0.3.3
  CHANGELOG.md
  package.json
Due: remark ., prettier --write

Release 0.4.0
  CHANGELOG.md
  package.json
  yarn.lock
Due: remark ., prettier --write

v0.4.0
  package.json
Due: prettier --write

Path conditions:
  remark .: any of: *.md
  prettier --write: ((any of: *.md) or (any of: *.ts)) or (any of: *.{js,json})
  eslint: any of: *.ts
