Repository JupiterOne/graph-airwatch: changes, and which lint-staged commands are due for each by the changed paths.
All: remark ., prettier --write, eslint

Update build.yml
  .github/workflows/build.yml
Due: none

deprecate set-env
  .github/workflows/build.yml
  CHANGELOG.md
Due: remark ., prettier --write

remove version
  CHANGELOG.md
Due: remark ., prettier --write

Just do what Nick did
  .github/workflows/build.yml
Due: none

test setting the github env
  .github/workflows/build.yml
Due: none

set the environment variable correctly this time
  .github/workflows/build.yml
Due: none

change set-env
  .github/workflows/build.yml
Due: none

clean
  .github/workflows/build.yml
Due: none

Add template sections
  docs/jupiterone.md
Due: remark ., prettier --write

Add CODEOWNERS
  CODEOWNERS
Due: none

Require security team review for CODEOWNERS
  CODEOWNERS
Due: none

Changed title
  docs/jupiterone.md
Due: remark ., prettier --write

Fix bug
  .github/workflows/gitleaks.yml
Due: none

update integration documentation
  docs/jupiterone.md
Due: remark ., prettier --write

rm gitleaks
  .github/workflows/gitleaks.yml
Due: none

run prettier
  docs/jupiterone.md
  jest.env.js
  src/instanceConfigFields.ts
  src/steps/account.ts
  src/types.ts
Due: remark ., prettier --write, eslint

remove gitleaks.yml
  .gitleaks.yml
Due: none

Added Security Files
  .github/workflows/codeql-analysis.yml
Due: none

Added Security Files
  .github/workflows/peril.yml
Due: none

INT-7577 - Introduce `email` property on `user_endpoint`
  CHANGELOG.md
  src/client/types.ts
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.test.ts
  src/steps/converters.ts
Due: remark ., prettier --write, eslint

Normalize user_endpoint email to lowercase
  src/steps/converters.ts
Due: prettier --write, eslint

0.5.0
  package.json
Due: prettier --write

INT-7577 - Switch refs from master to main branch
  .github/workflows/build.yml
  README.md
  package.json
Due: remark ., prettier --write

0.5.1
  package.json
Due: prettier --write

add lastSeenOn, model, serialNumber, deviceId, and macAddress to Devices
  src/client/types.ts
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.test.ts
  src/steps/converters.ts
Due: prettier --write, eslint

remove serialNumber
  src/steps/converters.test.ts
  src/steps/converters.ts
Due: prettier --write, eslint

attempt to fix tests
  src/steps/converters.test.ts
Due: prettier --write, eslint

make macAddress lowercase
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.test.ts
  src/steps/converters.ts
Due: prettier --write, eslint

format LastSeen to be an ISO string
  src/steps/converters.ts
Due: prettier --write, eslint

propertly format the iso timestamp for airwatch
  src/steps/converters.ts
Due: prettier --write, eslint

fix tests
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.test.ts
Due: prettier --write, eslint

changelog
  CHANGELOG.md
Due: remark ., prettier --write

bump patch version
  CHANGELOG.md
Due: remark ., prettier --write

v0.5.2
  package.json
Due: prettier --write

UUID must exist because of it being the _key thus ensuring displayName
  .github/workflows/codeql-analysis.yml
  .gitignore
  CHANGELOG.md
  src/steps/converters.ts
Due: remark ., prettier --write, eslint

constuct a better display namne
  CHANGELOG.md
  src/steps/converters.ts
Due: remark ., prettier --write, eslint

v0.5.3
  package.json
Due: prettier --write

Populate CODEOWENRS, baseline package.json and baseline cortex.yaml
  CODEOWNERS
  cortex.yaml
  package.json
Due: prettier --write

Path conditions:
  remark .: any of: *.md
  prettier --write: ((any of: *.md) or (any of: *.ts)) or (any of: *.{js,json})
  eslint: any of: *.ts
