Repository JupiterOne/graph-airwatch: changes, and which lint-staged commands are due for each by the changed paths.
All: remark ., prettier --write, eslint

APP-15542 - Add entities and helpers files
  src/entities.ts
  src/helpers.ts
Due: prettier --write, eslint

APP-15542 - Update constants file
  src/steps/constants.ts
Due: prettier --write, eslint

APP-15542 - Update converters and test file
  src/steps/converters.test.ts
  src/steps/converters.ts
Due: prettier --write, eslint

APP-15542 - Update rest of files
  src/steps/access.ts
  src/steps/account.ts
  src/steps/profiles.ts
Due: prettier --write, eslint

APP-15542 - Update converters and tests
  src/client/types.ts
  src/entities.ts
  src/steps/__snapshots__/index.test.ts.snap
  src/steps/converters.test.ts
  src/steps/converters.ts
  src/steps/index.test.ts
Due: prettier --write, eslint

APP-15542 - Update snapshot
  src/steps/__snapshots__/index.test.ts.snap
Due: none

v0.6.8
  CHANGELOG.md
Due: remark ., prettier --write

Path conditions:
  remark .: any of: *.md
  prettier --write: ((any of: *.md) or (any of: *.ts)) or (any of: *.{js,json})
  eslint: any of: *.ts
